html,
body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

html{
    font-family: 'Roboto', sans-serif;
}

#add{
    background-color:lightgrey;
    border:1.5px solid lightgrey;
}

#links{
    color:black;
}

a{
    cursor:pointer;
}

h1{
    color:white;
    position:fixed;
    top:0;
    font-weight:bold;
}

#text{
    color:white;
    position:fixed;
    left:30px;
    top:70px;
    font-weight:bold;
}

#form{
    display:flex;
    justify-content:center;
    float:left;
    flex-direction:column;
    width:30%;
    background-color:black;
    height:100%;
    position:fixed;
    flex-wrap:wrap;
}

.inputDivs{
    display: flex;
    justify-content:center;
}

.buttonDiv{
    display: flex;
    justify-content:center;
}

.songInput{
    width:80%;
    text-align:center;
}

#add{
    width:80%;
    border:white 2px solid;
    background-color:white;
    font-weight:bold;
}

/*.songInput{
    width:100px;
    height:30px;
}*/

#cart{
    display:flex;
    justify-content:center;
    width:70%;
    float:right;
    height:100%;
    padding:100px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}